.DS_Store
node_modules/
dist/
sysinfo-reports/
devops-reports/

# terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
**/generated/

# capstone
20-final-project/taskboard/backend/test.db
20-final-project/taskboard/backend/.coverage
20-final-project/taskboard/frontend/node_modules/
